.button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 10px 25px;
    margin-right: 10px;
    transition: 0.2s all;
}
li:hover {
    background-color: #000;
    opacity: 0.5;
}
.active {
    background-color: rgba(24, 199, 223, 0.644);
}
.button:hover {
    background-color: #000;
    opacity: 0.8;
}